/* Reset */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', sans-serif;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: rgb(67, 123, 163);
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p {
    font-size: 18px;
    line-height: 1.4;
}

strong {
    font-weight: 600;
}

/* Layout */

.blog-header {
    background-color: rgb(216, 228, 250);
    position: fixed;
    width: 100%;
    opacity: 0.90;

}

.blog-header__inner {
    height: 100px;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    padding: 0 30px 30px 30px;
}

.blog {
    margin-top: 60px;
}

.blog__inner {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
}

.blog-footer {
    background-color: rgb(32, 42, 56);
    color: #fff;
}

.blog-footer__inner {
    margin: 0 auto;
    min-height: 200px;
    max-width: 1080px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

/* Header */

.blog-header__branding {
    color: #222;
    font-weight: 600;
    font-size: 30px;
}

/* Menu */

.menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

.menu__link {
    color: #888;
    font-size: 20px;
    font-weight: 400;
}

.menu__link:hover {
    color: #222;
}

.menu__item--current .menu__link {
    color: #222;
    font-weight: 600;
}

/* Blog posts */

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    border-top: 2px solid rgb(235, 230, 230);

}

.post__header,
.post__excerpt,
.post__footer {
    max-width: 800px;
    width: 100%;

}

.post__header {
    margin-bottom: 60px;
    margin-top: 30px;
}

.post__image {
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.post__image img {
    display: block;
}

.post__excerpt {
    margin-bottom: 40px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post__tag-link {
    font-size: 18px;
}

.post__title {
    font-size: 40px;
    margin: 0;
}

.post__published {
    color: #888;
    margin-top: 20px;
    font-size: 18px;
}

.post__author {
    color:#888;
    font-size: 18px;
}

/* Cards */

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 400px;
    max-height: 400px;

    margin-top: 100px;
    margin-bottom: 100px;
    padding: 15px;

    box-shadow: 5px 5px 15px -5px #333;
    overflow: hidden;
    background-color: #fff;
}

.card:hover {
    transform: scale(1.1);
}

.card__image {
    margin: 0;
    max-width: 200px;
}

.card__title {
    font-size: 25px;
    color:#444;
}

.card__text {
    font-size: 16px;
    color:#444;
}

.card__readmore:hover {
    color: #222;
}

/* Bilder */

.bilder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
    gap: 30px;
    border-top: 2px solid rgb(235, 230, 230);
}

.bild {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 300px;

    margin-top: 70px;
    margin-bottom: 200px;
}

.bild__image {
    margin: 0;
}

.bild__image:hover {
    transform: scale(1.3);
}